<!DOCTYPE html>
<html>
<head>
<title>Test</title>
	<meta charset="utf-8" />
	<meta name="author" content="Brendan Kolisnik"/> 
	<link href="https://fonts.googleapis.com/css?family=PT+Serif|Josefin+Sans" rel="stylesheet"> 
	<script src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<button id='SignOut' class="btn">Sign out</button>

	<div class="mainpage">
		<p>Welcome {{current_user.username}}</p>

		
	</div>

<script src="../static/js/home.js"></script>
</body>
</html>