<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form action="/login" method="post">
	Username:<br>
	<input type="text" name="username" value="" required><br>
	Password:<br>
	<input type="password" name="password" value="" required><br><br>
	<button type="submit" id="SignIn"class="btn">Log in</button>
</form>
<button id="SignUp"class="btn">Sign Up</button>


<p> {{error}} </p>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../static/js/signin.js"></script>
</body>
</html>